.sect7 {
    width: 1920px;
}

.sect7-header-p {
    width: 166px;
    color: #7EB693;
    font-size: 36px;
    font-family: Yellowtail;
    font-weight: 400;
    word-wrap: break-word;
}


.sect7-header-h1 {
    width: 700px;
    color: #274C5B;
    font-size: 50px;
    font-family: Roboto;
    font-weight: 800;
    word-wrap: break-word;
}

.sect7 {
    background-image: url('../images/back7.svg');
    background-repeat: no-repeat;
    height: 931px;
}


.sect7-back {
    z-index: -1;
}

.sect7_-inner-item {
    width: 100%;
    height: 100%;
    align-self: center;
    padding: 78px 89px;
    background: white;
    border-radius: 30px;
}

.points h1 {
    color: #274C5B;
    font-size: 25px;
    font-family: Roboto;
    font-weight: 500;
    word-wrap: break-word;
}

.points{
    width: fit-content;
}


.points p {
    width: 635px;
    color: #525C60;
    font-size: 18px;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 29.77px;
    word-wrap: break-word;
}

.sect7-points{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.sect-cont-inner{
    display: flex;
    position: relative;
    left: 550px;
    top: 100px;
    width: fit-content;
}


.sect7{
    max-width: 1800px;
    padding-left: 150px;
    padding-right: 200px;
    margin: 0 auto;
}